<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Integrations.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8052ED01E2DEAF7004F49C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8052EE91E2DEAF9004F49C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8052EF41E2DEAF9004F49C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
